/* SIDEBAR */
.sidebar {
  width: 150px;
  height: calc(100vh - 70px);
  background: #111827;
  color: white;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 70px;
  overflow: visible;
  z-index: 1000;
}

/* TITLE */
.menu-title {
  padding: 0 25px 20px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #9CA3AF;
  font-weight: bold;
}

/* GROUP */
.menu-group {
  position: relative;
}

/* GROUP TITLE */
.group-title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 25px;
  font-size: 15px;
  font-weight: 600;
  color: #E5E7EB;
  cursor: pointer;
  transition: all 0.25s ease;
  transform-origin: left;
}

/* ONLY TEXT TRANSFORM */
.menu-group:hover > .group-title {
  transform: translateX(3px) scale(1.03);
}

/* SUBMENU */
.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 180px;

  background: #0f172a;
  display: flex;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;

  transform: translateX(-20px) scale(0.95);
  transform-origin: left center;

  transition: all 0.25s ease;

  pointer-events: none;
  z-index: 9999;

  box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}

/* SHOW SUBMENU */
.menu-group:hover .submenu,
.submenu:hover {
  opacity: 1;
  visibility: visible;
  transform: translateX(0) scale(1);
  pointer-events: auto;
}

/* SUBMENU BACKGROUND HOVER EFFECT */
.submenu:hover {
  background: #111c33;
}

/* LINKS */
.submenu a {
  padding: 10px 20px;
  color: #D1D5DB;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.2s ease;
}

/* ONLY TEXT SHIFT (NO BG CHANGE) */
.submenu a:hover {
  color: white;
  padding-left: 24px;
  background-color: rgb(19, 78, 240);
}

/* ACTIVE ROUTE */
.active-link {
  color: yellow !important;
  font-weight: 600;
  background-color: rgb(19, 78, 240);
}

/* ICON */
.material-icons {
  font-size: 18px;
}

/* HOME MENU */
.menu-single {
  padding: 5px 0;
}

.menu-single a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 25px;
  font-size: 15px;
  font-weight: 600;
  color: #E5E7EB;
  text-decoration: none;
  transition: all 0.25s ease;
}

/* HOME HOVER ONLY TRANSFORM */
.menu-single a:hover {
  transform: translateX(3px) scale(1.03);
  color: white;
}

/* HOME ACTIVE */
.menu-single a.active-link {
  color: white !important;
  font-weight: 600;
}
