<div class="payroll-container">

  <div class="header">
    <h2>Generate Monthly Payroll</h2>
  </div>

  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="form-grid">

    <!-- PAYROLL MONTH -->
    <div class="form-group">

      <label>Payroll Month</label>

      <small
        class="text-danger"
        *ngIf="
          form.get('payrollDate')?.invalid &&
          form.get('payrollDate')?.touched
        ">

        Required

      </small>

      <input
        type="month"
        class="form-control"
        formControlName="payrollDate"
        [min]="currentMonth">

    </div>

    <!-- BONUS -->
    <div class="form-group">

      <label>Bonus</label>

      <input
        type="number"
        class="form-control"
        formControlName="bonus">

    </div>

    <!-- DEDUCTION -->
    <div class="form-group">

      <label>Deduction</label>

      <input
        type="number"
        class="form-control"
        formControlName="deduction">

    </div>

    <!-- BUTTON -->
    <div class="form-group full-width">

      <div class="btn-wrapper">

        <button
          type="submit"
          class="btn primary"
          [disabled]="loading">

          {{ loading
              ? 'Generating...'
              : 'Generate Payroll' }}

        </button>

      </div>

    </div>

    <!-- SUCCESS -->
    <div
      class="alert success full-width"
      *ngIf="successMessage">

      {{ successMessage }}

    </div>

    <!-- ERROR -->
    <div
      class="alert error full-width"
      *ngIf="errorMessage">

      {{ errorMessage }}

    </div>

  </form>

</div>
