<div class="payroll-container">

  <div class="header">
    <h2>Generate Monthly Payroll</h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-grid">

    <!-- MONTH -->
    <div class="form-group">

      <label>Payroll Month</label>

      <select class="form-control" formControlName="payrollMonth">

        <option [ngValue]="1">January</option>
        <option [ngValue]="2">February</option>
        <option [ngValue]="3">March</option>
        <option [ngValue]="4">April</option>
        <option [ngValue]="5">May</option>
        <option [ngValue]="6">June</option>
        <option [ngValue]="7">July</option>
        <option [ngValue]="8">August</option>
        <option [ngValue]="9">September</option>
        <option [ngValue]="10">October</option>
        <option [ngValue]="11">November</option>
        <option [ngValue]="12">December</option>

      </select>

    </div>

    <!-- YEAR -->
    <div class="form-group">

      <label>Payroll Year</label>

      <input
        type="number"
        class="form-control"
        formControlName="payrollYear">

    </div>

    <!-- BONUS -->
    <div class="form-group">

      <label>Bonus</label>

      <input
        type="number"
        class="form-control"
        formControlName="bonus">

    </div>

    <!-- DEDUCTION -->
    <div class="form-group">

      <label>Deduction</label>

      <input
        type="number"
        class="form-control"
        formControlName="deduction">

    </div>

    <!-- BUTTON -->
    <div class="form-group">

      <div class="btn-wrapper">

        <button
          type="submit"
          class="btn primary"
          [disabled]="loading">

          {{ loading ? 'Generating...' : 'Generate Payroll' }}

        </button>

      </div>

    </div>

    <!-- SUCCESS -->
    <div class="alert success" *ngIf="successMessage">
      {{ successMessage }}
    </div>
    <!-- ERROR -->
    <div class="alert error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

  </form>

</div>
