<div class="dashboard-container">

  <h1 class="page-title">HRMS Dashboard</h1>

  <div class="card actions-card">

    <h3>Quick Actions</h3>

    <div class="actions">

      <button  *ngIf="isHR()" routerLink="/payroll/create" class="btn">
        Generate Payroll
      </button>

      <button *ngIf="isHR()" routerLink="/employee/create" class="btn">
        Create Employee
      </button>

      <button *ngIf=" isHR()" routerLink="/salary/create" class="btn">
        Create Salary
      </button>

      <button  *ngIf="isAdmin()" routerLink="/userlist" class="btn">
        Use List
      </button>

      <button  *ngIf="isAdmin() || isHR()" routerLink="/payrolllist" class="btn">
        Payroll List
      </button>

      <button *ngIf="isAdmin() || isHR()" routerLink="/employeelist" class="btn">
        Employee List
      </button>

      <button *ngIf="isAdmin() || isHR() || isFinance()" routerLink="/salarylist" class="btn">
        Salary List
      </button>
    </div>

  </div>

</div>
