<div class="dashboard-container">

  <h1 class="page-title">HRMS Dashboard</h1>

  <div class="card actions-card">

    <h3>Quick Actions</h3>

    <div class="actions">

      <button routerLink="/payroll/automate" class="btn">
        Generate Payroll
      </button>

      <button routerLink="/payroll/create" class="btn">
        Create Payroll
      </button>

      <button routerLink="/employee/create" class="btn">
        Create Employee
      </button>

      <button routerLink="/salary/create" class="btn">
        Create Salary
      </button>

    </div>

  </div>

</div>
