/* HEADER */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  font-family: Arial, sans-serif;
}

/* TITLE LEFT */
.page-header h2 {
  margin: 0;
  color: #333;
}

/* RIGHT CONTROLS */
.header-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
.table-info {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  padding-left: 12px;
}
/* SEARCH + SELECT */
.header-controls input,
.header-controls select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

thead {
  background: #74729c;
  color: white;
}

th, td {
  padding: 14px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

/* ROW */
tbody tr:nth-child(even) {
  background: #f9f9f9;
}

tbody tr:hover {
  background: #eef2ff;
}

/* BUTTONS */
button {
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 5px;
}

/* EDIT */
button.edit {
  background: #0d6efd;
  color: white;
}

/* DELETE */
button.delete {
  background: #dc2626;
  color: white;
}

/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}

.pagination button {
  background: #4f46e5;
  color: white;
}

.pagination button:disabled {
  background: #ccc;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .page-header {
    flex-direction: column;
    gap: 10px;
  }

  .header-controls {
    flex-direction: column;
    width: 100%;
  }

  .header-controls input,
  .header-controls select {
    width: 100%;
  }
}
