.admin-container {
    max-width: 520px;
    margin: 50px auto;
    padding: 40px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* HEADER */
.header {
    margin-bottom: 30px;
}

.header h2 {
    font-weight: 700;
    color: #0d6efd;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 14px;
    color: #6c757d;
}

/* FORM GROUP CENTER */
.form-group {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* LABEL */
label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
    width: 100%;
    max-width: 420px;
    text-align: left;
}

/* INPUTS */
.form-control {
    width: 100%;
    max-width: 420px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    transition: 0.3s ease;
}

.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 8px rgba(13, 110, 253, 0.25);
}

.alert-success {
    color: rgb(39, 215, 12);
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    margin-top: 8px;
}
/* ERROR TEXT */
.text-danger {
    color: red;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    max-width: 420px;
    text-align: center;
}

/* BUTTON */
.btn-primary {
    width: 100%;
    max-width: 420px;
    height: 45px;
    border-radius: 10px;
    font-weight: 600;
    background: linear-gradient(135deg, #0d6efd, #0b5ed7);
    border: none;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

.btn-primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(13, 110, 253, 0.3);
}

/* LOGIN LINK */
.admin-actions {
    margin-top: 25px;
}

.action-link {
    font-weight: 600;
    text-decoration: none;
    color: #0d6efd;
    cursor: pointer;
}

.action-link:hover {
    text-decoration: underline;
    color: #0b5ed7;
}

/* SUCCESS MESSAGE */
.alert {
    border-radius: 10px;
}
