<div class="login-container">

  <div class="login-card">

    <h2>Welcome</h2>
    <p class="subtitle">Login to your account</p>

    <form (ngSubmit)="login()">

      <input
        type="text"
        placeholder="Enter Username"
        [(ngModel)]="username"
        name="username"
        required
      />

      <input
        type="password"
        placeholder="Enter Password"
        [(ngModel)]="password"
        name="password"
        required
      />

      <button type="submit">Login</button>

      <div class="register-link">
         Admin?
        <a (click)="goToRegister()">Create User</a>
      </div>

    </form>

    <p class="error" *ngIf="error">{{ error }}</p>

  </div>

</div>
